div.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
div.introduction {
    background-color: #f2f2f2;
}
div.about-me {
    background-color: #d9d9d9;
}
div.projects {
    background-color: #bfbfbf;
}

div.intro-text-holder{
    padding-right: 50px;
}