.top-bar {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.top-bar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}